body{
    margin: 0;
}
@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url("../fonts/MuseoSansCyrl500.ttf");
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url("../fonts/MuseoSansCyrl300.ttf");
}
#intro{
    background-color: rgb(171 171 171);
}
#intro-block{
    margin: 0 auto;
    max-width: 1200px;
}
#photo-block{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-right: 20px;
}
#photo-block h2{
    margin: 0;
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 15px;
    padding-left: 20px;
}
#photo-block #photo{
max-width: 400px;
}
#photo-block #photo img{
width: 100%;
}
#about-me-block p{
text-align: center;
color: white;
font-family: "Museo Sans Cyrl 500", sans-serif;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 12px;
margin: 45px 0;
}
#about-me-block #about-me-text{
    font-size: 20px;
    font-family: "Museo Sans Cyrl 300", sans-serif;
}
#about-me-block #about-me-text ol{
    max-width: 500px;
    margin: 20px auto;
}
